.debug {
  font-size: smaller;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
  margin: 0.5em;
  padding: 0.5em;
  border: 0.5px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  ul {
    list-style: none;
    margin: 0.25em;
    li {
      margin: 0.25em;
    }
  }
}
