:root {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  shape-rendering: optimizeSpeed;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  touch-action: none;
}

div {
  transform-origin: 50% 50%;
}

svg {
  display: block;
}

ul {
  list-style: none;
}
